<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MSDBContext" 
       providerName="System.Data.SqlClient"
       connectionString="Data Source=.\SQLExpress;Initial Catalog=MSDB2;Persist Security Info=True;MultipleActiveResultSets=True;Timeout=120;Pooling=True;User ID=sa;Password=dbadmin;" />
  <add name="WCAFhrContext" 
       providerName="System.Data.SqlClient" 
       connectionString="Data Source=.\SQLExpress;Initial Catalog=WCAFhr;Persist Security Info=True;MultipleActiveResultSets=True;Timeout=120;Pooling=True;User ID=sa;Password=dbadmin;" />
</connectionStrings>
