<?xml version="1.0" encoding="utf-8" ?>
<smtp from="ecommerce@wcasys.com" deliveryMethod="SpecifiedPickupDirectory">
  <network host="mail.wcasys.com"
           port="25"
           userName="ecommerce@wcasys.com"
           password="E444up134"
           enableSsl="false" />
  <specifiedPickupDirectory pickupDirectoryLocation="d:/mails"/>
</smtp>
